body{
    background-color: #1d1d1d;
}

.chat{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chat__border{
    border: 1px solid #111;
    margin-top: 50px;
    border-radius: 3px;
}

.chat__header{
    text-align: center;
    border-bottom: 2px solid #ddd;
}

.chat__body{
    margin-bottom: 15px;
}

.chat__body form{
    display: flex;
    flex-direction: column;
}

.chat__body form input[type='text']{
    margin: 15px;
    width: 250px;
    outline: none;
    padding: 8px 5px;
    border: 1px solid #111;
    border-radius: 3px;
}

.chat__body button{
    width: 100px;
    background-color: white;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 15px;
    text-align: center;
    padding: 8px;
    font-family: 'Times New Roman', Times, serif;
}
.chat__body button:hover{
    background-color: darkslateblue;
    color: white;
}

/* input bar */

.infoBar{
    display: flex;
    background-color: #2979FF;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px 4px 0 0;
    height: 60px;
    width: 30%;
    margin-left: 450px;
    margin-top: 100px;
}
.leftContainer{
    flex: 0.5;
    display: flex;
    align-items: center;
    margin-left: 5%;
    color: white;
}
.rightContainer{
    display: flex;
    flex: 0.5;
    justify-content: flex-end;
    margin-right: 5%;
}
.rightContainer img{
    width: 20px;
}
.leftContainer h3{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 1rem;
}

.form{
    display: flex;
    border-top: 2px solid #D3D3D3;
}

.input{
    border: none;
    border-radius: 0;
    padding: 5%;
    width: 80%;
    font-size: 1.2em;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
.sendButton{
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    padding: 20px;
    display: inline-block;
    border: none;
    width: 20%;
}