body{
    background-color: #1d1d1d !important;
}
.row>*{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.chat{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chat__border{
    border: 1px solid #111;
    margin-top: 50px;
    border-radius: 3px;
}

.chat__header{
    text-align: center;
    border-bottom: 2px solid #ddd;
}

.chat__body{
    margin-bottom: 15px;
}

.chat__body form{
    display: flex;
    flex-direction: column;
}

.chat__body form input[type='text']{
    margin: 15px;
    width: 250px;
    outline: none;
    padding: 8px 5px;
    border: 1px solid #111;
    border-radius: 3px;
}

.chat__body button{
    width: 100px;
    background-color: white;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 15px;
    text-align: center;
    padding: 8px;
    font-family: 'Times New Roman', Times, serif;
}
.chat__body button:hover{
    background-color: darkslateblue;
    color: white;
}

/* input bar */

.infoBar{
    display: flex;
    background-color: #2979FF;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px 4px 0 0;
    height: 60px;
    margin-top: 100px;
}
.leftContainer{
    flex: 0.5;
    display: flex;
    align-items: center;
    margin-left: 5%;
    color: white;
}
.rightContainer{
    display: flex;
    flex: 0.5;
    justify-content: flex-end;
    margin-right: 5%;
}
.rightContainer img{
    width: 20px;
}
.leftContainer h3{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 1rem;
}

.form{
    display: flex;
    border-top: 2px solid #D3D3D3;
}

.input{
    border: none;
    border-radius: 0;
    padding: 5px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 1rem;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
.sendButton{
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    padding: 20px;
    display: inline-block;
    border: none;
}
.chat-window{
    height: 400px;
    width: 300px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.chat-body{
    height: calc(450px - (45px + 70px));
    border: 1px solid #263238;
    background: #fff;
    position: relative;
}
.msg{
    height: auto;
    padding: 10px;
    display: flex;
}
.msg-cont{
    width: auto;
    height: auto;
    min-height: 40px;
    max-width: 120px;
    background-color: #43a047;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
    overflow-wrap: break-word;
    word-break: break-word;
}
.msg-container{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.msg--cont{
    display: flex;
}
.time{
    font-size: 0.8rem;
    padding-left: 10px;
}
.auth{
    font-size: 0.8rem;
    font-weight: 700;
}
#me {
    justify-content: flex-start;
}
  
#me .msg-cont {
    justify-content: flex-start;
}
  
#me .msg--cont {
    justify-content: flex-start;
    margin-left: 5px;
}
  
#other {
    justify-content: flex-end;
}
  
#other .msg-cont {
    justify-content: flex-end;
    background-color: cornflowerblue;
}
  
#other .msg--cont {
    justify-content: flex-end;
    margin-right: 5px;
}
.msg-container::-webkit-scrollbar{
    display: none;
}

/* new */

.container{
    margin: 60px auto;
    background: #fff;
    padding: 0;
    border-radius: 7px;
}

.col-md-4{
    border-right: 1px solid #ddd;
}

.profile-image{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.settings-tray{
    padding: 10px 15px;
    border-radius: 7px;
    background: #eee;
    display: flex;
    justify-content: space-between;
}

.settings-tray i{
    margin-top: 10px;
    font-size: 25px;
    color: grey;
    transition: .3s;
}

.settings-tray i:hover{
    color: #74b9ff;
    cursor: pointer;
}

.search-box{
    background: #fafafa;
    padding: 10px 13px;
}

.input-wrapper{
    background: #fff;
    border-radius: 40px;
}

.input-wrapper i{
    color: grey;
    vertical-align: middle;
    margin-left: 7px;
}

.input-wrapper input{
    border: none;
    border-radius: 40px;
    width: 80%;
    outline: none;
}

.input-wrapper input::placeholder{
    color: #e3e3e3;
    font-weight: 300;
}

.friend-drawer{
    padding: 10px 15px;
    display: flex;
    vertical-align: baseline;
    background: #fff;
    transition: .3s ease;
    border-top-right-radius: 5px;
}

.text{
    margin-left: 12px;
    width: 70%;
}

.text h6{
    margin-top: 6px;
    margin-bottom: 0;
}

.text p{
    margin: 0;
}

.time{
    color: grey;
}

.time:hover{
    color: #fff;
}

.friend-drawer--onhover:hover{
    background: #74b9ff;
    cursor: pointer;
    color: #fff;
}

hr{
    width: 60%;
}

.friend-drawer--grey{
    background-color: #eee;
}

.chat-bubble{
    padding: 10px 14px;
    background: #eee;
    margin: 10px 35px;
    border-radius: 9px;
    position: relative;
    animation: fadeIn 1s ease-in;
}

.chat-bubble::after{
    content: '';
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 0;
    margin-top: -10px;
}

.chat-bubble--left::after{
    left: 0;
    border-right-color: #eee;
    border-left: 0;
    margin-left: -20px;
}

.chat-bubble--right::after{
    right: 0;
    border-left-color: #74b9ff;
    border-right: 0;
    margin-right: -20px;
}

.chat-bubble--blue{
    color: #fff;
    background: #74b9ff;
}

.chat-box-tray{
    background: #eee;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin-left: 10px;
    margin-top: 200px;
    width: 97.2%;
    border-bottom-right-radius: 5px;
}

.chat-box-tray input{
    margin: 0 10px;
    padding: 6px 2px;
    border: none;
    border-radius: 40px;
    width: 80%;
    outline: none;
    padding-left: 10px;
}

.chat-box-tray i{
    color: gray;
    font: 30px;
    vertical-align: middle;
}